name: Release GUI
on:
  push:
    tags:
      - "*"

env:
  APP_NAME: "hkxc-anno-gui"
  BUILD_PROFILE: release

jobs:
  release:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4.2.2
        with:
          submodules: true
      - name: Setup environment
        uses: ./.github/actions/setup-deps
        with:
          platform: ${{ matrix.platform }}
          build_profile: ${{ env.BUILD_PROFILE }}

      # NOTE: The installer is not required at this time.
      - name: Build the app
        uses: tauri-apps/tauri-action@action-v0.5.20
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          releaseName: "${{ env.APP_NAME }} v__VERSION__"
          tagName: ${{ github.ref_name }}
          prerelease: false
          projectPath: ${{ github.workspace }}/gui/src-tauri
      # - name: Build GUI
      # run: npm run build:release

      - name: Move exe -> ./build
        uses: ./.github/actions/setup-release
        with:
          app_name: ${{ env.APP_NAME }}
          build_profile: release

      - name: Compress outputs(Windows)
        shell: pwsh
        if: runner.os == 'Windows'
        run: |
          Compress-Archive -Path './build/*' -DestinationPath './${{ env.APP_NAME }}-${{ runner.os }}-v${{ github.ref_name }}.zip'

      - name: Release Portable Version(Windows)
        uses: ncipollo/release-action@v1.16.0
        if: runner.os == 'Windows'
        with:
          allowUpdates: true
          artifacts: ./*.zip
          name: "${{ env.APP_NAME }} v${{ github.ref_name }}"
          tag: ${{ github.ref_name }}

      - name: Compress outputs(MacOS/Linux)
        shell: bash
        if: runner.os != 'Windows'
        run: |
          tar -czf ./${{ env.APP_NAME }}_tauri-${{ runner.os }}-v${{ github.ref_name }}.tar.gz -C ./build .

      - name: Release Portable Version
        uses: ncipollo/release-action@v1.16.0
        if: runner.os != 'Windows'
        with:
          allowUpdates: true
          artifacts: ./*.tar.gz
          name: "${{ env.APP_NAME }} v${{ github.ref_name }}"
          tag: ${{ github.ref_name }}
